<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
    <title>WEB CAR | Detalhes</title>
</head>

<body>
						
				<!-- Logo -->
				<div>
				<div id="logo">
					<h1>WEB CAR</a></h1>

					<nav id="nav">
						<ul>
								<li><a href="/" class="button alt large icon solid fa-question-circle">HOME</a></li>
						</ul>
				</nav> 
				
				<section>
					<div class="cars_details">
						<img width="450" height="auto" src=<%= cars.imagem %>  alt=<%= cars.marca %> />
						<h2><%= cars.marca %> <%= cars.modelo %></h2>
						<p>ANO <%= cars.ano%></p>
						<p>	
							MOTOR: <%= cars.motor %> cilindradas</p> 
							<p>CAMBIO <%= cars.cambio %></p>
							<p>COR: <%= cars.cor %></p>
							<p><%= cars.descricao %></p>
						<h3>R$ <%= cars.valor %></h3>
					</div>
					<div class="buttons">
						<a href="/editar/<%=cars.id%>"><button>EDITAR</button></a>
						<a href="/deletar/<%= cars.id%>"><button class="danger">Excluir</button></a>
					</div>
					
				</section> 
				
				
				
				<!-- Footer -->
				<div id="footer-wrapper">
					<footer id="footer" class="container">
						<div class="row">
							<div class="col-3">

								<!-- Links -->
									<section class="widget links">
										<h3>Linhas de crédito</h3>
										<ul class="style2">
											<li><a href="#">Financiamento em até 60 x</a></li>
											<li><a href="#">Consórcio Web Car</a></li>
											<li><a href="#">Cartão de Crédito em até 24 X</a></li>
											<li><a href="#">A vista com descontos de até 10%</a></li>
											
										</ul>
									</section>

							</div>
							<div class="col-3">

								<!-- Links -->
									<section class="widget links">
										<h3>Seguro Auto</h3>
										<ul class="style2">
											<li><a href="#">Porto Seguro</a></li>
											<li><a href="#">Allianz Seguradora</a></li>
											<li><a href="#">Mafre Seguros</a></li>
											<li><a href="#">Youse Seguros</a></li>
											
										</ul>
									</section>

							</div>
							<div class="col-3">

								<!-- Links -->
									<section class="widget links">
										<h3>Procedência</h3>
										<ul class="style2">
											<li><a href="#">Vistoria 3 Visão</a></li>
											
										</ul>
									</section>

							</div>
							<div class="col-3">

								<!-- Contact -->
									<section class="widget contact last">
										<h3>Entre em contato</h3>
										<ul class="icons">
											<li><img src="/img/twitter.png" alt="logo do twitter" /></li>
											<li><img src="/img/facebook.png" alt="logo do facebook" /></li>
											<li><img src="/img/instagram.png" alt="logo do instagram" /></li>
											<li><img src="/img/dribble.png" alt="logo do dribble" /></li>
											<li><img src="/img/pinterest.png" alt="logo do pinterest" /></li>
											<div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
										</ul>
										<p>Rua Suécia, 444<br />
										Paraíso do Norte, PR CEP 87.780-000<br />
										(44) 99746-1828</p>
									</section>

							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<div id="copyright">
									<ul class="menu">
										<li>&copy; Untitled. Todos os direitos reservados</li><li>Design: <a href="http://html5up.net">Luiz Alberto Coimbra</a></li>
									</ul>
								</div>
							</div>
						</div>
					</footer>
				</div>

			</div>

  
</body>
</html>